{% extends 'base.html.twig' %}

{% block title %}Page 2
{% endblock %}

{% block stylesheets %}

	<link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
	<link href="{{ asset('css/page_2.css') }}" rel="stylesheet"/>


{% endblock %}

{% block body %}
	<div class="page_2">
		<div class="page2-header">
			<h1>Welcome!</h1>
		</div>

		<div class="page_2-card">
			{% if app.user %}
				<br>
				<div class="mb-3">
					You are logged in as
					{{ app.user.username }},
					<a href="{{ path('app_logout') }}">Logout</a>
				</div>
				<br>
			{% endif %}

			<h1>Hello 2
				{{ app.user.name }}!</h1>

		</div>
	</div>
{% endblock %}
